<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.com"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/img/logo.png}"/>
    <link rel = "Stylesheet" type="text/css" th:href="@{/assets/css/noticiaAberta.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/navbar.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	
	<script th:src="@{/assets/js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/assets/js/bootstrap.min.js}"></script>
	
 	<title>PointPet</title>
</head>
<body>

	<nav class="navbar navbar-default navbar-expand-lg navbar-light" th:replace="fragments/Navbar :: navbar"></nav>

	<section class="corpo">

<br>
		<div class="titulo">
		<h1> Notícias </h1>
	</div>
<br>
	<br>
	
	<div class="conteudo">

			<div class="imagem">
		<img th:src="@{/assets/fotos/noticia/foto_noticia_{id}.jpg(id=${noticia.id})}" class="imagem" title="cachorros" alt="cachorros" />

		</div>

		<div class="texto" style=" background: #fff">

			<br>
			<h2 th:text="${noticia.id}"> Categoria </h2>
			<h2 th:text="${noticia.categoriaNoticia.nome}"> Categoria </h2>
			<h2 th:text="${noticia.jornalista.usuario.nome}"> Nome do Jornalista </h2>
	
			<h3 th:text="${noticia.titulo}"> Título da Notícia</h3>
	
			<br>
	
			<p th:utext="${noticia.primeiro_paragrafo}"> Primeiro Parágrafo </p>
			<p th:utext="${noticia.corpo_noticia}"> Corpo da noticia </p>
			
		</div>
		
		</div>
    
		
	</section>

	<!-- <a th:href="@{/app/noticia/favoritar(id=${noticia.id})}">
	
		<header>
    		<button class="btn" style="outline: none;"> Favoritar </button>
    	</header> 
	
	</a>     -->
      

</body>
</html>