<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.com"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>PointPet</title>
    <link rel="icon" href="img/logo.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilonoticiafechada.css">
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/js.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <br>
  <div class="container">
      <div class="titulo">
          <h1>Notícias</h1>
      </div>
    </div>

    <main>

  <div class="conteudo">

  <br>
  <br>



   <div class="botoes">
              <input type="search" placeholder="Procurar" style="margin-left: 390px;">
              </div>
          
              
          <div class="botoesdois">
              
                <select required style="color:#999999">
                  <option selected>Filtro</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
          </div>  

          <br>


              <div class="imagem">
          <img src="img/dogdono.png" class="imagem" title="cachorros" alt="cachorros" />

          </div>

          <div class="texto" style=" background: #fff">
            

          <h2> Categoria | Nome do Jornalista </h2>

              <h3> Título da Notícia</h3>

      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec odio turpis, placerat a
      nultrices sit amet, semper in turpis.Mauris porttitor scelerisque quam, sit amet blandit 
     mauris tempor quis. Etiam at dui vehicula, porttitor turpis at, placerat felis. Pellentesqu
      eabitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque non sapien ac ante tincidunt varius. Suspendisse varius diam ante, sit am
      et luctus ante tristique eu.</p>

      <header>
      <button href="#" class="btn"> Ler mais </button>
      </header>


  </div>

  </div>

  <br>


  <div class="anuncione">
      <h6>Espaço para anúncio</h6>

  </div>


  <br>
  <br>

  <div class="solucaocard">
      
  <div class="rowone">
    <div class="col"></div>
      <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="img/gatos.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Gato</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      
      <header>
      <button href="#" class="btn"> Ler mais </button>
      </header>
      </div>
    </div>
  </div>


  <div class="rowtwo">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="img/tartaruga.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Tartaruga</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      
      <header>
      <button href="#" class="btn"> Ler mais </button>
      </header>
      </div>
    </div>
  </div>
  </div>



  <div class="solucaodoiscard">

  <div class="rowthree">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="img/hamster.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Hamster</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      
      <header>
      <button href="#" class="btn"> Ler mais </button>
      </header>
      </div>
    </div>
  </div>


  <div class="anuncio">
      <h6>Espaço para anúncio</h6>

  </div>
</div>

  <div class="solucaocardtres">
      
  <div class="rowquatro">
    <div class="col"></div>
      <div class="card" style="width: 18rem;  margin-right: 160px;">
    <img class="card-img-top" src="img/cachorro.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Cachorro</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      
      <header>
      <button href="#" class="btn"> Ler mais </button>
      </header>
      </div>
    </div>
  </div>

<div class="rowcinco">
    <div class="col"></div>
      <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="img/gatos.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Gato</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      
      <header>
      <button href="#" class="btn"> Ler mais </button>
      </header>
      </div>
    </div>
  </div>

</div>

  <div class="pagination">
    <a href="#">&laquo;</a>
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
   
    <a href="#">&raquo;</a>
  </div>

</main>

  <br>
  <br>

</body>
</html>