<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.com" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<title>Pet Point | Login</title>

<link rel="icon" th:href="@{/assets/img/icon.ico}" />

<link rel="stylesheet" type="text/css" href="assets/css/style.css" />

<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
<link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.1.3.css" />
<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" />

<link rel="stylesheet" th:href="@{/assets/css/navbar.css}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" />

</head>

<body>
	
	<nav class="navbar navbar-default navbar-expand-lg navbar-light" th:replace="fragments/Navbar :: navbar"></nav>
	
	<div class="fundo"></div>


	<br />
	<br />
	<br />

	<div class="error" th:if="${param.error}"
		th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
		Reason: <span th:text="${errorMsg}">Wrong input!</span>
	</div>

	<div class="container">
		<form action="app/usuario/autenticar" method="post"
			modelAttribute="usuario">
			<div class="login">
				<span class="login-logo"> <i class="fas fa-paw"></i>
				</span>
			</div>
			<H1>Bem-vindo</H1>

			<div class="form-input">
				<input type="text" name="cpf" id="cpf" placeholder="CPF/CNPJ" /> <i
					class="fas fa-user fa-lg fa-fw"></i>
			</div>
			<div class="form-input">
				<input type="password" name="senha" id="senha" placeholder="Senha" />
				<i class="fas fa-unlock fa-lg fa-fw"></i>

			</div>

			<div class="links">
				<button type="submit" class="btn-login">Entrar</button>
			</div>

		</form>

		<div class="links2">

			<div class="linkSenha">
				<a href="#" class="linkSenha"> Esqueci minha senha</a>
			</div>

			<div class="linkCadastrar">
				<a th:href="@{usuario/pessoas/novo}" class="linkCadastrar">|
					Cadastre-se </a>
			</div>
			<br />

		</div>

	</div>
	<br />
	<br />
	<br />
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous" style=""></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
	<script th:src="@{/assets/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/slick.min.js}"></script>
    <script th:src="@{/assets/js/js.js}"></script>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
    
	
</body>
</html>