<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.com"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
   <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/img/apple-icon.png}"/>
    <link rel="icon" href="http://images-cdn.impresa.pt/exameinformatica/2016-07-04-blog-140704-industry-4-0-336x336.png/original/mw-320"/>
    <link rel="stylesheet" th:href="@{/assets/css/teste.css}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>
        PointPet
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>
    <link th:href="@{/assets/css/material-dashboard.css?v=2.1.0}" rel="stylesheet"/>

    <link th:href="@{/assets/demo/demo.css}" rel="stylesheet">

    <script th:src="@{/assets/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/js.js}"></script>  


</head>
<body style="background-color:white">

     <div class="sidebar" data-color="white" data-background-color="black" th:data-image="@{/assets/img/sidebar-2.jpg}" th:replace="fragments/sidebar :: sidebar('adms')">
    </div>  


    <div class="main-panel">
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <a class="navbar-brand" href="javascript:void(0)">PointPet</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false"
                    aria-label="Toggle navigation" data-target="#navigation-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                </button>

            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div style="width:60%; margin-left:20%; text-align:center" class="card-header card-header-primary">
                                <h4 class="card-title">Administradores do Site</h4>

                            </div>
                            <div class="card-body table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-warning">
                                    	<th>ID</th>
                                        <th>Nome</th>
                                        <th>Email</th>
                                        <th>CPF</th>
                                    </thead>
                                    <tbody>
                                        <tr th:each="adm : ${adms}">
                                    	    <td th:text="${adm.id}">adm_id</td>
                                            <td th:text="${adm.nome}">adm_nome</td>
                                            <td th:text="${adm.email}">adm_email</td>
                                            <td th:text="${adm.cpf}">adm_cpf</td>
                                        </tr>                  
                                    </tbody>
                                </table>
                                <button th:href="@{/app/usuarioADM/novo}" style="background-color: #12BBAF; margin-top:5%;" type="submit" class="btn btn-primary pull-right">Adicionar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>