@font-face{
  font-family: phinster;
  src: url(../fonts/PhinsterRegular.woff);
}

h1 {
	font-family: phinster;
	 color: #ffffff;
	 border-bottom: 2px solid #ffba71;
	 line-height: 1;
	 display: inline-block;
  }

  *{
	font-family: phinster;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
	margin: 0;
	padding: 0;
  }
  
  .color-blue{
	color: #0d6b74 !important;
  }
  
  .color-red{
	color: #ff0000;
  }
  
  .form-diferente{
	color: #0d6b74;
	border:1px solid #fca448;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .form-diferente:focus{
	border-color: #fca448;
	box-shadow: 2.5px 2px #fca448;
	color: #0d6b74;
  
  }
  
  .titulo {
	text-align: center;
  }
  
  .centro{
	text-align: center;
  }
  
  @font-face{
	font-family: phinster;
	src: url(../fonts/PhinsterRegular.woff);
  }
  
  header button{
	text-decoration: none;
	background-color: #fff;
	color:#0d6b74;
	display: inline-block;
	padding: 15px 20px;
	margin: 10px 30px;
	border:1px solid #000000;
	border-radius: 5px;
	margin-left: 45%;
  
  
  }
   header button:hover{
	background-color: #5AB1B9;
	color: #FFFFFF ;
	box-shadow: 0 2px 3px #777;
  
   }
  
   @keyframes btn {
	0%{
	  transform:rotate(0);
	}
	25%{
	  transform:rotate(10deg); 
  
	}
	50%{
	  transform:rotate(0);
  
	}
	75%{
	  transform:rotate(-10deg);
	}
  
   }
   .btn{
	transition: .5s;
	border:1px solid #36939b;
   }
  
   .btn:hover{
	animation-name: btn;
	animation-delay: .5s;
	animation-duration: 1s;
	animation-timing-function: liner;
	animation-iteration-count: 1
   }
  
  .hide {
	display: none;
	}
	
	.table-hover tbody tr:hover {
		background-color: #FFE0C0;
	}


	input {
		outline: none;
	}
	input[type=search] {
		-webkit-appearance: textfield;
		-webkit-box-sizing: content-box;
		font-family: inherit;
		font-size: 100%;
	}
	input::-webkit-search-decoration,
	input::-webkit-search-cancel-button {
		display: none; 
	}
	
	
	input[type=search] {
		background:  url(https://78.media.tumblr.com/314ab93097e018a35a148c7fa52e15e0/tumblr_pfcxs3ZMLy1tsre81o1_r1_75sq.png) no-repeat 3px center;
		border:transparent;
		padding: 10px 11px 10px 32px;
		width: 70px;
		
	
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		transition: all .5s;
	}
	input[type=search]:focus {
		width: 130px;
		background-color: #fff;
		border-color: #36939b;
		border-bottom: solid 2px #36939b;
		
		-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
		-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
		box-shadow: 0 0 5px rgba(0,0,0,0);
	}
	
	
	input:-moz-placeholder {
		color: #999;
	}
	input::-webkit-input-placeholder {
		color: #999;
	}
	
	input {
		outline: none;
	}
	input[type=search] {
		-webkit-appearance: textfield;
		-webkit-box-sizing: content-box;
		font-family: inherit;
		font-size: 100%;
	}
	input::-webkit-search-decoration,
	input::-webkit-search-cancel-button {
		display: none; 
	}


	.Escolha input[type="radio"]{
  display: none;
}

.Escolha .radio label{
  color:#36939b;
  padding: 5px 15px 5px 51px;
  display: inline-block;
  position: relative;
  font-size: 1em;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease ;

}

.Escolha .radio label:hover{
  background: rgba(0,116,217,0.2);
}

.Escolha .radio label:before{
  content: "";
  width: 17px;
  height: 17px;
  display: inline-block;
  background: none;
  border: 3px solid #36939b;
  border-radius: 50%;
  position: absolute;
  left: 25px;
  top:8px;
}

.Escolha input[type="radio"]:checked + label{
  padding: 5px 15px;
  background: #36939b;
  border-radius: 2px;
  color: #fff;
}

input[type="radio"]:checked + label:before{
  display: none;
}

/* ----------------------------------------------------------------- */

*{
  font-family: phinster;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  margin: 0;
  padding: 0;
}

@font-face{
  font-family: phinster;
  src: url(../fonts/PhinsterRegular.woff);
}
.computador{
	flex: 1;
  flex-shrink: 1;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.erro{
	flex: 1;
    flex-shrink: 1;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}



h1{
  color: white;
	justify-content: center;
	text-align: center;
}

.logo{
	flex: 1;
  flex-shrink: 1;
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;

}

.responsiveFrog {
    width: 100%;
    max-width: 570px;
    height: auto;
}

.responsivePug {
    width: 100%;
    max-width: 1000px;
    height: 550px;
}

.responsiveCat {
    width: 100%;
    max-width: 900px;
    
    
}



@media screen and (max-width:1141px) {  
  .catBigW{
    display: none;
  }
}

@media screen and (max-height:530px){  
  .catBigH{
    display: none;
  }
}
@media screen and (min-width:1141px) {  
  .minW{
    display: none;
  }
}

@media screen and (min-height:531px) {  
  .minH{
    display: none;
  }
}


header button{
  text-decoration: none;
  background-color: transparent;
  color:#0d6b74;
  display: inline-block;
  padding: 13px 20px;
  margin: 10px 30px;
  border:1px solid #000000;
  border-radius: 5px;
  margin-left: 45%;
  font-size: 15px;


}
 header button:hover{
  background-color: #5AB1B9;
  color: #FFFFFF ;
  box-shadow: 0 2px 3px #777;

 }

 @keyframes btn {
  0%{
    transform:rotate(0);
  }
  25%{
    transform:rotate(10deg); 

  }
  50%{
    transform:rotate(0);

  }
  75%{
    transform:rotate(-10deg);
  }

 }
 .btn{
  transition: .5s;
  border:1px solid #36939b;
 }

 .btn:hover{
  animation-name: btn;
  animation-delay: .5s;
  animation-duration: 1s;
  animation-timing-function: liner;
  animation-iteration-count: 1
 }



.bounce:hover {
  -moz-animation: bounce 1.2s infinite;
  -webkit-animation: bounce 1.2s infinite;
  animation: bounce 1.2s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/* ------------------------------- */

*{
  font-family: phinster;
}

h1 {
  font-family: phinster;
	color: #1f858e;
	border-bottom: 2px solid #ffba71;
	line-height: 1;
	display: inline-block;
}

.color-blue{
  color: #0d6b74;
}

.color-red{
  color: #ff0000;
}

.form-diferente{
  color: #0d6b74;
  border:1px solid #fca448;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-diferente:focus{
  border-color: #fca448;
  box-shadow: 2.5px 2px #fca448;
  color: #0d6b74;

}

.titulo {
  text-align: center;
}

.centro{
  text-align: center;
}

@font-face{
  font-family: phinster;
  src: url(../fonts/PhinsterRegular.woff);
}

header a{
  text-decoration: none;
  color:#0d6b74;
  display: inline-block;
  padding: 15px 20px;
  margin: 10px 30px;
  border:1px solid #000000;
  border-radius: 5px;
  margin-left: 45%;


}
 header a:hover{
  background-color: #5AB1B9;
  color: #FFFFFF ;
  box-shadow: 0 2px 3px #777;

 }

 @keyframes btn {
  0%{
    transform:rotate(0);
  }
  25%{
    transform:rotate(10deg); 

  }
  50%{
    transform:rotate(0);

  }
  75%{
    transform:rotate(-10deg);
  }

 }
 .btn{
  transition: .5s;
  border:1px solid #36939b;
 }

 .btn:hover{
  animation-name: btn;
  animation-delay: .5s;
  animation-duration: 1s;
  animation-timing-function: liner;
  animation-iteration-count: 1
 }

.hide {
  display: none;
}


.form-diferente-readonly{
  color: #0d6b74;
  border:1px solid #a7adaf;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-diferente-readonly:focus{
  border-color: #a7adaf;
  box-shadow: 2.5px 2px #a7adaf;
  color: #0d6b74;
}

.table-hover tbody tr:hover {
  background-color:#FFE0C0;
}